.outer-wrapper {
	background: url('../img/big_banner_bckgrnd1.png') 0 0 repeat-x;
}

header {
	height: 522px;
}

.before-corner {
	left: -10px;
	bottom: 40px;
}

.after-corner {
	top: -10px;
	right: -15px;
}

.banner-box .banner-title {
	background: url('../img/main_page_article_img1.png') 82% -3px no-repeat, url('../img/main_big_banner_title.png') 0 0 no-repeat;
	right: 45%;
	float: left;
	width: 55%;
	color: #ff1d89;
	text-align: left;
	padding-left: 4%;
}

header .banner-box {
	height: 392px;
}

main {
	padding-top: 90px;
	position: relative;
}

.main-page-img1 {
	margin-left: 10%;
	display: inline-block;
}

.main-frame-article {
	padding-top: 23px;
	text-align: right;
	padding-right: 0;
}

.main-frame-article h2{
	display: inline-block;
	font-family: 'FbSpacer-Bold';
	font-size: 180%;
	color: #428bc3;
}

.main-frame-article p {
	font-size: 130%;
	color: #15457e;
	padding-right: 2%;
	padding-left: 4%;
	text-align: justify;
}

.main-frame-article p>a {
	color: #ff2c8a;
} 

.main-frame-article img {
	vertical-align: top;
	margin-top: 15px;
}

.main-page-img2 {
	margin-top: 55px;
}

.main-page-banner-box {
	padding-top: 70px;
	padding-bottom: 100px;
	padding-left: 0;
}

.ban1, .ban2, .ban3 {
	position: ralative;
} 

.ban1 {
	padding-right: 1%;
	text-align: right;
	padding-left: 0;
}

.ban2 {
	padding-left: 2%;
	padding-right: 1%;
}

.ban3 {
	padding-left: 0%;
	padding-right: 1%;
}


.before-corner1 {
	position: absolute;
	bottom: -15px;
	left: 35px;
}

.after-corner1 {
	position: absolute;
	top: -20px;
	right: -10px;
}

.before-corner2 {
	position: absolute;
	bottom: -14px;
	left: 10px;
}

.after-corner2 {
	position: absolute;
	top: -15px;
	right: 15px;
}

.before-corner3 {
	position: absolute;
	bottom: -15px;
	left: 0px;
}

.after-corner3 {
	position: absolute;
	top: -15px;
	right: 28px;
}

.main-form-box {
	position: absolute;
	bottom: -90px;
	z-index: 5;
}

.main-footer-form {
	background-color: white;
	width: 90%;
	margin: 50px auto 0;
	border-top: 10px solid #f0f6fa;
	border-left: 10px solid #f0f6fa;
	border-right: 10px solid #f0f6fa;
	border-bottom: 10px solid #c9ecf9;
}

.main-footer-form button {
	display: inline-block;
	background-color: #e03179;
	color: white;
	padding: 5px 17px;
	margin-left: 0%;
	margin-right: 1.8%;

}

.main-footer-form h3{
	display: inline;
	font-size: 130%;
	color: #f81d8b;
	font-family: 'FbSpacer-Bold';
	float: right;
	margin-right: 3%;
	margin-top: 18px;
}

.main-footer-form label {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	color: #777777;
	padding: 8px 0;
	margin-bottom: 0;
	right: 25.4%;
	font-weight: 400;
}

.main-footer-form .checkbox {
	position: absolute;
	border: 2px solid #d9e9f5;
	display: inline-block;
	bottom: 7px;
	margin-right: -20px;
}

.main-footer-form .main-input {
	margin-right: 1.9%;
	height: 35px;
	width: 20%;
	margin-top: 12px;
	border: 2px solid #d9e9f5;
	text-align: center;
}

.main-footer-form .main-input::-webkit-input-placeholder { 
	color: #3784c0; 
}

.main-footer-form .main-input:-moz-placeholder {
	color: #3784c0; 
}

/* footer .footer-box>a {
	margin-top: 0px;
} */

footer .footer-nav {
	margin-top: 114px;
/* 	width: 30%;
margin-right: 70%; */
}