.banner-box .before-corner {
	bottom: -10px;
	left: 0;
}

main {
	padding-top: 90px;
}

.rightside-content-box {
	
}

.leftside-image-bar>div {
	margin-top: 80px;
	text-align: right;
	border-right: 1px dotted #84b3d8;
}


.leftside-image-bar>div>img {
	margin-right: 30px;
	margin-bottom: 50px; 
}


.cornered-img {
	position: relative;
	width: 65%;
	height: 213px;
	margin: 0 auto;
}

.before-corner {
	bottom: -15px;
	left: -15px;
}

.cornered-img .after-corner {
	top: -20px;
	right: -20px;
}


.rightside-content-box {
	padding-right: 7%;
}

.rightside-content-box h1{
	color: #ff1d89;
	font-family: 'FbSpacer-Bold';
	font-size: 215%;
	text-align: right;
	margin-top: 40px; 
}

.rightside-content-box article {
	font-size: 130%;
	text-align: right;
	color: #14447d;
}

.content-box2 {
	border: 2px solid #bbeafb;
	margin-top: 30px;
	padding: 0 3% 20px 4%;
}

.content-box2 h1 {
	font-family: 'FbLiddar-Bold';
	font-size: 340%;
	margin-top: 0;
}

.content-box2 p {
	text-align: right;
	font-family: 'FbLiddar-Bold';
	font-size: 215%;
	line-height: 1;
	color: #306fa0;
}

