@media screen and (min-width: 768px)  and  (max-width: 990px){
	/* header */

	.inner-wrapper {
		width: 768px;
	}

	.header-menu {
		width: 97%;
	}

	header .right-flag {
		right: 5%;
	}

	.header-menu-list>ul>li {
		width: 15.8%;
		font-size: 90%;

    }

    .banner-box {
    	right: 10px;
    }

    .banner-box .before-corner {
    	bottom: 20px;
		left: 0px;
    }

    .banner-box .banner-title {
    	top: 23%;
    }

    .header-menu-list .sub-menu li a {
    	font-size: 100%;
    }

    /* main-contact */

    .contact-form {
    	width: 55%;
    	margin-left: 30px;
    }

    /* main inner2 */

    .cornered-img {
        width: 83%;
    }

    /* main faq */

    .main-contentbox .query-for-faq {
        margin-left: 30%;
    }

    .queries-clas-faq {
        margin-right: 21%;
    }

    #faqs {
        margin-bottom: 0;
    }

    #faqs>p {
        background: url('../img/faqs_block.png'), url('../img/faqs_arrow_close.png') 60px 8px no-repeat;
    }

    #faqs p.active  { 
        color:#d74646; 
        background: url('../img/faqs_block.png'), url('../img/faqs_arrow_open.png') 60px 8px no-repeat;
    }

}

@media screen and (min-width: 640px)  and  (max-width: 767px) {

	/* header */

	.inner-wrapper {
		width: 640px;
	}

	.header-menu {
		width: 97%;
	}

	header .right-flag {
		right: 5%;
	}

	.header-menu-list>ul>li {
		width: 15.8%;
		font-size: 80%;
    }

    .banner-box {
    	right: 10px;
    }

    .banner-box .before-corner {
    	bottom: 40px;
		left: 0px;
    }

    .banner-box .banner-title {
    	top: 20%;
    }

    .search-box input {
    	margin-left: 35px;
    }

    #fontSizeButton {
    	margin-left: 135px;
    }

    .header-menu-list .sub-menu li:nth-child(2) a {
    	line-height: 1;
    	padding-top: 7px;
    }

    /* main-contact */

    .contact-form {
    	width: 65.6%;
    	margin-left: 95px;
    }

.main-contentbox .query-for-contact {
    display: none;
}

    .main-contentbox {
    	padding-top: 0;
    }

    /* main inner2 */

    main {
        padding-top: 0;
    }

    .cornered-img {
        display: inline-block;
        width: 31%;
        margin-right: 15%;
    }
    .img1>img {
        float: left;
        margin-left: 10%;
    }

    .leftside-image-bar>div {
        border-right: none;
    }

        /* main faq */

    .main-contentbox>img {
        margin-left: 25%;
    }

    .queries-clas-faq {
        margin-right: 17%;
    }

    #faqs {
        margin-bottom: 0;
    }

    #faqs>p {
        background: url('../img/faqs_block.png'), url('../img/faqs_arrow_close.png') 45px 8px no-repeat;
    }

    #faqs p.active  { 
        color:#d74646; 
        background: url('../img/faqs_block.png'), url('../img/faqs_arrow_open.png') 45px 8px no-repeat;
    }

}

@media screen and (min-width: 480px)  and  (max-width: 639px) {

		/* header */

	.inner-wrapper {
		width: 480px;
	}

	.header-menu {
		width: 100%;
	}

	header .header-menu-list {
		margin: 0;
		width: 96.7%;
	}

	header .right-flag {
		display: none;
	}

	header .left-flag {
		display: none;
	}

	.header-menu-list>ul>li {
		width: 15.8%;
		font-size: 60%;
    }

    .banner-box {
    	right: 7px;
    	bottom: 20px;
    }

    .banner-box .before-corner {
		display: none;
    }

    .banner-box .after-corner {
		display: none;
    }

    .banner-box .banner-title {
    	top: 10%;
    	background-image: none;
    }

    .search-box input {
    	margin-left: 0;
    }

    #fontSizeButton {
    	margin-left: 100px;
    }

    .header-menu-list .sub-menu li:nth-child(2) a {
    	line-height: 1;
    	padding-top: 7px;
    }

    .banner-box .faq-title {
    	top: 2%;
    }

        /* main-contact */

    .contact-form {
    	width: 87.5%;
    	margin-left: 24px;
    }

    .main-contentbox .query-for-contact {
        display: none;
    }

    .main-contentbox {
    	padding-top: 0;
    }

        /* main inner2 */

    main {
        padding-top: 0;
    }

    .cornered-img {
        display: inline-block;
        width: 41%;
        margin-right: 8%;
    }
    .leftside-image-bar>div>img {
        float: left;
        margin-left: 0;
        margin-right: 0;
    }

    .leftside-image-bar>div {
        border-right: none;
        margin-top: 40px;
    }

       /* main faq */

    .main-contentbox>img {
        margin-left: 15%;
    }

    .queries-clas-faq {
        margin-right: 8%;
    }

    #faqs {
        margin-bottom: 0;
    }

    #faqs>p {
        background: url('../img/faqs_block.png'), url('../img/faqs_arrow_close.png') 30px 8px no-repeat;
    }

    #faqs p.active  { 
        color:#d74646; 
        background: url('../img/faqs_block.png'), url('../img/faqs_arrow_open.png') 30px 8px no-repeat;
    }
}