html, body {
	margin:0;
    padding:0;
    font-size: 14px;
	font-family:  'FbSpacer-Regular', Arial, Helvetica, sans-serif;
	height: 100%;
}

body {
	 direction:rtl;
}

.outer-wrapper {
	background: url("../img/header-backgrnd.png") 0 0 repeat-x;
/* 	min-height: 100%;
    height: auto; */
    margin: 0 auto;
    padding: 0 0;
}


.inner-wrapper {
	width: 960px;
	min-height: 100%;
    height: auto;
	margin: 0 auto -164px;
/*     border: 1px solid #ccc; */
    padding: 0 0 164px;
}

header {
	height: 245px;
}

.head-logo-search-box {
	height: 70px;
	width: 100%;
}

.head-logo-search-box a{
    display: inline-block;
    margin-left: 30px;
}

#fontSizeButton {
 	display: inline-block;
 	margin-right: 25px;
 	margin-top: 15px;
 	cursor: pointer;
}

.search-box input {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 4px solid #e0edfc;
	height: 30px;
	width: 147px;
	margin-right: 25px;
	background: url('../img/search-button.png') white 4px 4px no-repeat;
	text-align: right;
	color: #ff1d89;
}

.search-box input::-webkit-input-placeholder { 
	color: #ff1d89; 
}

.search-box input:-moz-placeholder {
	color: #ff1d89; 
}

.search-box input::-moz-placeholder {
	color: #ff1d89; 
}

.header-menu {
	padding-top: 15px;
	width: 100%;
	position: ralative;
}

header .left-flag, header .right-flag {
	position: absolute;
	width: 36px;
	height: 38px;
	display: inline-block;
	z-index: 1;
}

header .left-flag {
	left: 2.5%;
	top: 30px;
}

header .right-flag {
	right: 2.5%;
	top: 30px;
	text-align: center;
}

header .header-menu-list {
	position: relative;
	display: inline-block;
	width: 94%;
	margin: 0 3%;
	height: 38px;
	z-index: 5;
	border-left: 1px solid #cd176b;
	border-right: 1px solid #cd176b
}


.header-menu-list>ul {
	background: url('../img/back-header-menu.png') 0 0 repeat-x;
	list-style: none;
	padding-left: 0;
	height: 38px;
	width: 100%;
	padding-right: 0;
} 

.header-menu-list>ul>li {
	position: relative;
	display: inline-block;
	width: 16.2%;
	height: 38px;
}

.header-menu-list>ul>li>a {
	display: block;
	width: 100%;
	height: 22px;
	border-right: 1px solid white;
	margin-top: 9px;
	color: white;
	text-decoration: none;
	font-size: 130%;
	text-align: center;
	line-height: 22px;
	vertical-align: middle;
}

.header-menu-list>ul>li>a:hover {
	color: black;
}

.header-menu-list ul li:nth-child(1) a {
	border-right: none;
}

.header-menu-list .sub-menu {
	padding-right: 0;
	position: absolute;
	display: none;
	width: 17%;
	border: 2px solid #f594c5;
	border-top: none;
	background: url('../img/submenu-back.png') 0 0 repeat;
	padding-left: 0;
	top: 38px;
	left: 0%;
	width: 100%;
}

.header-menu-list>ul>li:hover .sub-menu{
	display: block;
	}

.header-menu-list .sub-menu li {
	display: block;
	height: 38px;
	border-bottom: 1px dotted #f594c5;
}

.header-menu-list .sub-menu li:last-child {
	border-bottom: none;
} 

.header-menu-list .sub-menu li a {
	display: block;
	text-decoration: none;
	color: #f594c5;
	text-align: center;
	height: 38px;
	padding: 10px 0 0px;
	line-height: 0.8;
	font-size: 120%;
}

.header-menu-list .sub-menu li a:hover {
	color: black;
}

header .banner-box {
	position: relative;
	display: block;
	width: 87.55%;
	height: 75%;
	margin: 150px auto 0;
	/*box-shadow: 0 9px 7px 0 #adc4cc;*/
	
}

.banner-box .banner-title {
	position: absolute;
	background: url('../img/banner-title.png') 0 0 no-repeat;
	margin: 0;
	height: 34.3%;
	width: 48%;
	right: 0;
	top: 33%;
	font-family: 'FbSpacer-Bold';
	color: #ff1d89;
	padding-top: 15px;
	text-align: right;
	padding-right: 15%;
}

.banner-img {
	border: 2px solid #ddebf6;
	width: 100%;

}

.before-corner, .after-corner {
	position: absolute;
}

.before-corner {
	bottom: -3px;
	left: -1px;
}

.after-corner {
	top: 0;
	right: -6px;
}

main {
	min-height: 540px;
}

.main-contentbox {
	margin-top: 90px;
	padding-top: 53px;
	padding-left: 0;
}

.main-contentbox>img {
	display: inline-block;
	float: right;
}

.contact-form {
	font-size: 14px;
	position: relative;
	display: inline-block;
	background: url('../img/form-back.png') 0 0 repeat-x #e5f0ee;
	height: 380px;
	width: 59%;
	border: 2px solid #e5f0ee;
	float: left;
}

.contact-form h3 {
	font-size: 155%;
	color: #ff1d89;
	font-weight: 600;
	width: 70%;
	text-align: right;
	float: right;
	margin-right: 13%;
	margin-top: 35px;
	margin-bottom: 15px;
}

.contact-form input {
	border: 2px solid #a2c9d2;
	border-radius: 0px;
	width: 80%;
	margin-right: 13%;
	float: right;
	margin-bottom: 15px;
	height: 26px;
	text-align: right;
}

.contact-form textarea {
	border: 2px solid #a2c9d2;
	width: 80%;
	margin-right: 13%;
	float: right;
	margin-bottom: 15px;
	height: 86px;
	text-align: right;
	padding: 6px 12px;
}
 
.contact-form button {
	position: absolute;
	background-color: #e03179;
	color: white;
	padding: 2px 17px;
	display: block;
	margin-right: 79%;
	bottom: 25px;
}
  
footer {
	height: 164px;
	background: url('../img/footer-backgrnd.png') 0 0 repeat-x;
}

.inner-footer {
	height: 164px;
	width: 960px;
	/* border: 1px solid #ccc; */
}

.footer-box {
	height: 164px;
}

.footer-box a,  .footer-nav{
	display: inline-block;
}

footer .footer-box>a {
	margin-top: 95px;
	margin-left: 25px;
}

footer .footer-nav {
	padding-right: 0;
	list-style: none;
	padding-left: 0;
	width: 70%;
	color: grey;
	margin-top: 100px;
	margin-right: 25%;
}

footer .footer-nav li {
	display: inline-block;
	text-align: center;
	height: 15px;
	padding: 0 10px;
	border-left: 1px solid #428bca;
}
 
footer .footer-nav li:nth-child(2) {
	border-left: none;
}

.footer-nav li a {
	font-size: 90%;
}